@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 255, 255, 255;
  --drag-background-color: #cccccc;
  --drag-text-color: #000000;
  --navbar-height-mobile: 56px;
  --navbar-height-desktop: 72px;
  --editor-width: clamp(400px, 50vw, 800px);
  --header-height: 4rem;
  --content-spacing: 2rem;
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-rgb: 17, 21, 25;
  --drag-background-color: #444;
  --drag-text-color: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 8px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f8f8f8;
}

.hero {
  position: relative;
  transition: all .5s ease;
}

.hero > span {
  z-index: -1 !important;
}

* {
  touch-action: manipulation;
}

@font-face {
  font-family: 'EliceDigitalCoding';
  src: url('/fonts/EliceDigitalCodingverH_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}