@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';
@import 'flowbite';

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 255, 255, 255;
  --drag-background-color: #cccccc;
  --drag-text-color: #000000;
  --navbar-height: 59px;
  
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-rgb: 17, 21, 25;
  --drag-background-color: #444;
  --drag-text-color: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: 'NanumSquareNeo-Variable', sans-serif;
    scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 8px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f8f8f8;
}

.hero {
  transition: background-image .5s ease;
}

.heroLight {
  background-image: url('/img/hero_bg_light.png');
  background-size: cover;
}

.heroDark {
  background-image: url('/img/hero_bg_dark.png');
  background-size: cover;
}